
<!DOCTYPE html>
<html>
<head>
    <title>Kitap Takas</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Content/css/style2.css" type="text/css" media="all" />
    <!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
    
    <script src="/Content/js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="/Content/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="/Content/js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- Shell -->
    <div class="shell">
        <!-- Header -->
        <div id="header">
            <h1 id="logo"><a href="/Home/Index/">Book Store</a></h1>
            <!-- Cart -->
            <div id="cart">
                             
                <div class="cl">&nbsp;</div>
                @if (Session["userid"] == null)
                {
                <span> <strong></strong></span> <span><a href="/User/Create/" class="cart-link">KAYIT OL</a></span>
                }
                else
                {                    
                        <span>Kredi: <strong>@Session["credit"]</strong></span> <span><a href="/UserBook/Create/" class="cart-link">Kitap Ekle</a></span>
                }
            </div>
            <!-- End Cart -->
            <!-- Navigation -->
            <div id="navigation">
                <ul>
                   
                    <li><a href="/Home/Index/" class="">Anasayfa</a></li>
                    <li><a href="#">Destek</a></li>   
                    <li><a href="/UserBook/Index/">Kitaplar</a></li>
                    <li><a href="#">İletişim</a></li>
                    
                    @if (Session["userid"] != null)
                    {
                        <li>
                            <a href="/User/Index/@Session["userid"]">@Session["username"].ToString()</a>
                        </li>
                        <li>
                            <a href="/User/Logout/">Çıkış Yap</a>
                        </li>
                        if (Convert.ToInt32(Session["authorityid"]) == 1)
                        {
                            <li>
                                <a href="/Admin/Index/" target="_blank">Admin Paneli</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li><a href="/User/Login/">Giriş</a></li>
                    }
                </ul>
            </div>
            <!-- End Navigation -->
        </div>
        <!-- End Header -->
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            <div id="content">
                <!-- Content Slider -->
                
                <!-- End Content Slider -->
                <!-- Products -->
                <div class="products">
                    @RenderBody()
                </div>
                <!-- End Products -->
            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            <div id="sidebar">
                <!-- Search -->
                <div class="box search">
                    @Html.Partial("SearchPartial")
                </div>
                <!-- End Search -->
                <!-- Categories -->
                <div>
                    @{
                        Html.RenderAction("CategoryPartial", "Home");
                    }
                </div> 
                <!-- End Categories -->
            </div>
            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- End Main -->
        <!-- Side Full -->
        <div class="side-full">
            <!-- More Products -->
            <div class="more-products">
                <div class="more-products-holder">
                    <ul>
                        <li><a href="#"><img src="/Content/css/images/smal1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="/Content/css/images/smal6.jpg" alt="" /></a></li>
                        <li class="last"><a href="#"><img src="/Content/css/images/smal7.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
            </div>
            <!-- End More Products -->
            <!-- Text Cols -->
            <div class="cols">
                <div class="cl">&nbsp;</div>
                <div class="col">
                    <h3 class="ico ico1">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico2">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico3">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col col-last">
                    <h3 class="ico ico4">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Text Cols -->
        </div>
        <!-- End Side Full -->
        <!-- Footer -->
        <div id="footer">
            <p class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </p>
            <p class="right"> &copy; 2010 Shop Around. Design by <a href="http://chocotemplates.com">Chocotemplates.com</a> </p>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Shell -->
</body>
</html>
